:root {
  --color-primary-raw: 0, 0, 0, 1;
  --color-secondary-raw: 168, 143, 217, 1; // #FFDB7A; // #A88FD9;

  --color-primary: rgba( var(--color-primary-raw));
  --color-secondary: rgba( var(--color-secondary-raw));
}
