$latin-unicode-range: U+000-5FF;

@font-face {
  font-family: 'Geomanist Regular';
  src: url('/fonts/geomanist-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: $latin-unicode-range;
}

@font-face {
  font-family: 'Geomanist Bold';
  src: url('/fonts/geomanist-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: $latin-unicode-range;
}
