.gl-container {
  width: 100%;
  max-width: $media-large;
  margin-right: auto;
  margin-left: auto;
}

.gl-container--xlarge {
  max-width: $media-xlarge;
}

.gl-section {
  padding-right: $space;
  padding-left: $space;
}
