
body {
  font-family: $font-base;
  color: var(--color-secondary);
  font-size: 1.6rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: $media-small) {
    font-size: 2rem;
  }
}

.gl-typo-outline,
.gl-typo-outline-reset {
  font-family: $font-bold;
  color: var(--color-secondary);
}

@supports (-webkit-text-stroke: 1px var(--color-secondary)) {
  .gl-typo-outline {
    -webkit-text-stroke: .02em var(--color-secondary);
    -webkit-text-fill-color: transparent;
  }
  
  a.gl-typo-outline:hover,
  .gl-typo-outline.active,
  .gl-typo-outline-reset {
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: var(--color-secondary);
  }
}

