$space: 20px;

$media-xsmall: 600px;
$media-small: 800px;
$media-medium: 1000px;
$media-large: 1200px;
$media-xlarge: 1400px;

$max-width-large: $media-large;

$font-base: 'Geomanist Regular';
$font-bold: 'Geomanist Bold';
