$space: 20px;

$media-xsmall: 600px;
$media-small: 800px;
$media-medium: 1000px;
$media-large: 1200px;
$media-xlarge: 1400px;

$max-width-xlarge: $media-large;
$max-width-large: $media-medium;
$max-width-medium: $media-small;

$font-base: 'Geomanist Regular', sans-serif;
$font-bold: 'Geomanist Bold', sans-serif;
